<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="harvester-config">

    <Properties>
        <Property name="PATTERN">%d{ABSOLUTE} %level{length=5} [%thread] %logger{1} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="nl.mpi.oai.harvester" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="ORG.oclc.oai.harvester2.verb" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>